@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the TodoApp</h1>
    <div class="indbg">
    </div>
    <h2>--Still in development--</h2>
    <a asp-controller="Write" asp-action="DisplayTodos"><h3>Click this</h3></a>
</div>