@page
@model TodoApp.Views.Home.Write

@{
}

    <section class="headers">
        <h1>You can write your stuff her: </h1>
        <h2>Messages: </h2>
    </section>
    <section class="todo-box">
        <div class="mbox">

        </div>
    </section>
    <section class="new">
        <form action="/submit-form" method="post">
            <label for="todo">New Todo: <input type="text" name="new-todo" id="todo"></label>
            <input type="submit" value="Submit" id="sbmt">
        </form>
    </section>
